body {
    background-color: aquamarine;
    font-family: 'Slabo 27px', serif;
}

.luna {
    color: black;
    font-family: 'Baloo Bhaijaan', cursive; 
}

.luna2{
    color: green;
    font-size: 20px;
}

.more {
    color: black;
    
}

.header {
    padding: 30px 0;
    text-align: center;
    color:green;
    background-color: yellow;
    border: 5px solid green;
    font-size: 20px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid;
    color: yellow;
}

h2 {
    color: green;
    
}
